

$brand-color: #2196f3;
$black-color: #212121;
$background: #2f303a;
$grey-color: #757575;
$white-color: #fff;
$total-black: black;
$transp-white: rgba(255, 255, 255, 0.6);
$white-bgrnd: #f5f4fa;
$border: #ececec;
$portfolio-border: #eee;
$icon-color: #afb1b8;
$hero-shadow: rgba(47, 48, 58, 0.4);
$icon-background: rgba(255, 255, 255, 0.1);
$brand-background: rgba(33, 150, 243, 0.9);
$activity-bgrd: rgba(47, 48, 58, 0.8);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition: 250ms;
$modal-bgrd: rgba(0, 0, 0, 0.2);

