.soc-media {
    display: flex;
    justify-content: center;
    gap: 10px;

   
  }

  .soc-media__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $icon-color;
    transition: color $transition $timing-function,
      background-color $transition $timing-function;

      &:hover, &:focus {color: $white-color;
    background-color: $brand-color;}
  }

.footer .soc-media__link {
  color: $white-color;
  background-color: $icon-background;
  &:hover, &:focus {color: $white-color;
    background-color: $brand-color;}
}
  .soc-media__icon {
    fill: currentColor;
  }