body {
    color: $grey-color;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .link {
    text-decoration: none;
    color: currentColor;
  }
  .list {
    list-style-type: none;
  }