

.characteristic__item {
  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }



  }
  .characteristic__title {
    color: $black-color;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;

    @include mq(mob-only){
      text-align: center;
    }
  }
  .characteristic__container {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $white-bgrnd;
  }

  .characteristic__img {
    align-self: center;
  }

  @media screen and (max-width: 767px) {

  }